
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
/* căn lề cho các components sau navigation bar */
#align-top {
  margin-top: 100px;
}
.current_content span {
  background: linear-gradient(to left, #0ebeb0 1%, #34eb13 100%);
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  border-color: blue;
}
/* tắt gạch chân phần tử menu khi rê chuột trong lúc đang ở URL của phần từ đó */
.current_content .nav-item:after {
  background-color: transparent;
  transition: all 2ms linear;
}
/* css result */
.section-padding-100-0 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  
}


.why-choose-us-content {
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  background-color:rgba(90, 86, 86, 0.198);
  padding: 80px 30px 50px;
  border-radius: 10px;
  box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  margin-top: 50px;
  border-color: black;
}

.why-choose-us-content .chosse-us-icon {
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  height: 76px;
  width: 76px;
  display: inline-block;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: -38px;
  left: 50%;
  margin-left: -38px;
}
.why-choose-us-content .chosse-us-icon img {
  border-radius: 50%;
  width: 120%;
}
.why-choose-us-content h4 {
  text-align: center;
  font-size: 16px!important;
  font-weight: 500;
  margin-bottom: 15px;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
.why-choose-us-content span {
  font-size: 18px;
  color: black;
}
.why-choose-us-content p {
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  font-size: 14px;
  margin-bottom: 0;
}


.why-choose-us-content:hover,
.why-choose-us-content:focus {
  -webkit-box-shadow: 0px 6px 25px 1px rgba(252,96,96,1);
  -moz-box-shadow: 0px 6px 25px 1px rgba(252,96,96,1);
  box-shadow: 0px 6px 25px 1px rgba(252,96,96,1);
}
.mt-15{
  font-size: 120%;
  margin : 50px;
}
.mt-16 {
   padding :5px ;
    background: gold;
   border: 2px solid black;
   color: black;
   border-radius: 20px;
}
.mt-16:hover{
    background: red;
}
.mt-16 a:hover {
 color :black ;
}
.price-block a{
    color: black;
    font-size: 120%;


}
.mb-80 {
  margin-bottom: 80px;
}

/* for diary page by Cuong */
.centerImage{
  /* margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 55px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 70%;
  
}
.size-hr{
  display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
.size-tab{
  width: 90px;
 height: 50px;
 text-align: center;
}
.space-tab{
  margin-top: -0.5cm;
}
.space-table{
  margin-top: 1.5cm;
}
th{
  background-color: aqua;
}
.color-pills{
  color: #ffffff;
}
.space-bottom{
  margin-bottom: 2cm;
}
.space-week-table{
  margin-top: 0.7cm;
}
.center-tabs {
  margin-left: auto;
  margin-right: auto;

  display: block;
}
.size-tabs {
  height: 35px;
  width: 90px;
}
.size-tabs-styte{
  height: 35px;
  width: 20%;
}
.strong-styte{
  color: red;
  font-size: 200%;
}
.color-bread{
  color: black;
  font-size: 20px;
}
.thea:hover{
  color:gray;
  text-decoration: none;
}

/* ///////////////////////////// */

/* Style guide */
.swatch-preview{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: 60px;
  width: 100%;
  margin: 0 0.8em 0.5em 0;
}
.list-no-bullets{
  margin-left: 0;
  float: left;
  width: 100%;
  padding: 0;
}
.swatch{
  list-style-type: none;
    background-image: none;
    padding-left: 0;
    line-height: 1.5em;
    float: left;
    margin-bottom: 1em;
    width: 96%;
    margin-right: 2%;
    background-color: white;
    padding: 10px 0;
    padding: 0.625rem 0;
    border-radius: 3px;
    border-radius: 0.1875rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.img-file{
  height: 512px;
  width: 195px;
}
.iconstyle {
 width: 25%;
 
}
.img1{
  width: 170px;
  height: 50px;
}

.img3{
  width: 850px;
  height: 400px;
}
.img4 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.img5 {
  width: 100px;
  height: 100px;
  border-radius:50% ;
}
.img6 {
  width: 300px;
  height: 170px;
}
.trTable {
  text-align: center;
  background-color: turquoise;
}
.img-design {
  width: 100%;
}
.buttonStyle {
  padding: 5px;
  margin: 10px;
}
.bt1 {
  width: 120px;
  height: 40px;
  font-size: 16px;
  color :#007BFF;
  background: #fff;
}
.bt1:hover {
  color: #fff;
  background: #007BFF ;
}
.bt2 {
  padding: 6px 12px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #28B785;
}
.bt3 {
  padding: 6px 12px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #28B785;
}
.bt3:hover {
  background: #28B888;
}
.bt4{
  padding: 6px 12px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #007BFF;
}
.bt5 {
  background: #17A2BB;
  
  font-size: 20px;
  width: 130px;
  height: 74px;
  border-radius: 20px;
}